<div class="container">
	<div class="row justify-content-md-center">
		<div class="col col-md-8">
			<nav class="navbar navbar-toggleable-md navbar-light bg-faded navbar-custom">
		    <a class="navbar-brand" href="/">{{ site.name }}</a>
				<div class="collapse navbar-collapse" id="navbarNav">
					<div class="navbar-nav">
						<a class="nav-item nav-link hvr-underline-from-center" href="/blog">Blog</a>
						<a class="nav-item nav-link hvr-underline-from-center" href="https://github.com/cassidycodes">GitHub</a>
					</div>
				</div>
		  </nav>
		</div>
	</div>
</div>
