@font-face {
	font-family: 'Cooper Hewitt';
	src: url('/fonts/CooperHewitt-Thin.eot');
	src: url('/fonts/CooperHewitt-Thin.eot?#iefix') format('embedded-opentype'),
		 url('/fonts/CooperHewitt-Thin.woff') format('woff'),
		 url('/fonts/CooperHewitt-Thin.ttf') format('truetype'),
		 url('/fonts/CooperHewitt-Thin.svg#cooperhewitt_thin') format('svg');
	font-weight: 200;
}

@font-face {
	font-family: 'Cooper Hewitt';
	src: url('/fonts/CooperHewitt-Light.eot');
	src: url('/fonts/CooperHewitt-Light.eot?#iefix') format('embedded-opentype'),
		 url('/fonts/CooperHewitt-Light.woff') format('woff'),
		 url('/fonts/CooperHewitt-Light.ttf') format('truetype'),
		 url('/fonts/CooperHewitt-Light.svg#cooperhewitt_light') format('svg');
	font-weight: 300;
}

@font-face {
	font-family: 'Cooper Hewitt';
	src: url('/fonts/CooperHewitt-Book.eot');
	src: url('/fonts/CooperHewitt-Book.eot?#iefix') format('embedded-opentype'),
		 url('/fonts/CooperHewitt-Book.woff') format('woff'),
		 url('/fonts/CooperHewitt-Book.ttf') format('truetype'),
		 url('/fonts/CooperHewitt-Book.svg#cooperhewitt_book') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Cooper Hewitt';
	src: url('/fonts/CooperHewitt-Semibold.eot');
	src: url('/fonts/CooperHewitt-Semibold.eot?#iefix') format('embedded-opentype'),
		 url('/fonts/CooperHewitt-Semibold.woff') format('woff'),
		 url('/fonts/CooperHewitt-Semibold.ttf') format('truetype'),
		 url('/fonts/CooperHewitt-Semibold.svg#cooperhewitt_semibold') format('svg');
	font-weight: 600;
}
