<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    {% include nav.html %}

    <div class="container content">
      <div class="row justify-content-md-center">
        <div class="col col-md-8">
          {% for post in paginator.posts %}
            <article class="feed-article">
              <h1 class="post-title">
                <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
              </h1>
              <div class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</div>
              {{ post.excerpt }}
              <div class="row">
                <div class="col">
                  <a class="read-more" href="{{ post.url | prepend: site.baseurl }}">Read more...</a>
                </div>
              </div>
            </article>
          {% endfor %}
          {% include pagination.html %}
        </div>
      </div>
    </div>

    {% include js.html %}
  </body>
</html>
