<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    {% include nav.html %}
    <header class="intro error section-wrapper">
      <div class="intro-body">
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <h1 class="brand-heading"><span class="text-background">404</span></h1>
              <h2><span class="text-background">Sorry,<br>I can't find<br>what you're<br>looking for.</span></h2>
            </div>
          </div>
        </div>
      </div>
    </header>
    {% include js.html %}
  </body>
</html>
